*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background: #f5f5f5;
}
a{
	color: #099;
	text-decoration: none;

	&:hover{
		text-decoration: underline;
	}
}

#stage{
	width: 95%;
	@media screen and (min-width: 800px) {
		width: 90%;
	}
	margin: 0 auto;
	background: #fff;
	padding: 50px 0px 50px 0px;
	margin:{
		top: 20px;
		bottom: 20px;
	}
	border: 1px #ccc solid;
	border-radius: 2px;
	box-sizing: content-box;

	ul#post{
		list-style: none;

		li{
			height: 40px;
			line-height: 40px;
			padding: 0 10px 0 10px;

			&:hover{
				background: #eee;
				border: none;
			}

			span{
				float: right;
				color: #ccc;
			}
		}
	}
}

.highlight{
	background: #555;
	color: #fff;
	padding: 10px;
	border-radius: 6px;
	overflow: auto;

	.gutter{
		color: #fc0;
		font-weight: bold;
		padding-right: 5px;
	}

	.code pre{
		font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
	}

	.string{
		color: #f9c;
	}

}
.c,.cpp{
	.meta{
		color: #fcc;
		.meta-string{
			color: #f93;
		}
	}	

	.function{
		.keyword{
			font-style: italic;
			color: #9cf;
		}
		.title{
			color: #9f9;
		}
	}
	.built_in{
		color: #9f9;
	}
}