footer{
	background: #003;
	padding: 50px;
	color: #fff;
	
	ul.links{
		width: 200px;
		float: left;
		list-style: none;

		li{
			margin: 10px;
		}
	}

	a{
		color: #fff;

		&:hover{
			text-decoration: none;
			font-weight: bold;
		}
	}
}