#title{
	text-align: center;
}
#date{
	width: 80%;
	margin: 0 auto;
	padding: 10px;
	text-align: center;
	color: #aaa;
	border-bottom: 1px #ccc solid;
}
ul{
	list-style-position: inside;
}

#content{
	width: 90%;
	@media screen and (min-width: 800px) {
		width: 80%;
	}
	margin: 0 auto;
	line-height: 220%;
	font-size: 18px;

	p{
		margin-bottom: 20px;
	}
}

#stage{
	.tag-list{
		width: 90%;
		@media screen and (min-width: 800px) {
			width: 80%;
		}
		margin: 0 auto;
		margin-top: 20px;
		list-style: none;
		background: #eee;

		li{
			display: inline-block;
			margin: 10px;
		}
	}
}