#title {
  text-align: center; }

#date {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  color: #aaa;
  border-bottom: 1px #ccc solid; }

ul, ol {
  margin-left: 20px; }

#content {
  width: 90%;
  margin: 0 auto;
  line-height: 220%;
  font-size: 18px; }
  @media screen and (min-width: 800px) {
    #content {
      width: 80%; } }
  #content p {
    margin-top: 10px; }

#stage .tag-list {
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  list-style: none;
  background: #eee; }
  @media screen and (min-width: 800px) {
    #stage .tag-list {
      width: 80%; } }
  #stage .tag-list li {
    display: inline-block;
    margin: 10px; }

.video {
  width: 100%;
  height: 200px;
}
@media screen and (min-width: 800px) {
  .video {
    height: 600px;
  }
}

h3,h4,h5 {
    color: #046;
}


